$bg-color: #000F08;
$main-text-color: #fff;
$form-input-color: #fff; 
$green: #139A43;
$blue: #001F86;
$red: #BC0000;

body{
    margin: 0;
    padding: 0;
    font-family: 'Noto Sans', sans-serif;
    background-color: $bg-color;
    cursor: default;
}
/* Global styles */
@import 'fadein';
@import 'logo';

/*Home Styles */
@import 'home/paralax';
@import 'home/params';