/* Background pattern from Toptal Subtle Patterns */
$bg-color: #070707;
$main-text-color: #fff;
$form-input-color: #fff;
$green: #139a43;
$blue: #001f86;
$red: #bc0000;

body {
  margin: 0;
  padding: 0;
  font-family: 'Noto Sans', sans-serif;
  background-color: $bg-color;
  cursor: default;
  overflow-x: hidden;
  position: relative;
  background-image: url('../img/stats_bg.png');
}

.blue {
  color: $blue;
  font-weight: 900;
}

.red {
  color: $red;
  font-weight: 900;
}

/* Global styles */
@import 'fadein';
@import 'logo';
@import 'change';
@import 'footer';
@import 'pageinfo';

/* Home Styles */
@import 'home/paralax_blocks/paralax';
@import 'home/params_blocks/params';

/* Stats Styles */
@import 'stats/player';
@import 'stats/wrappers';
@import 'stats/rank';
@import 'stats/mastery';
@import 'stats/match';
@import 'stats/line';
