.servers {
	width: 400px;
	text-align: center;
	overflow: auto;
	display: none;

	&__item {
		@extend %input_style;
		height: 40px;
		width: calc(50% - 10px);
		float: left;
		font-size: 16px;
		margin: 5px;
		padding: 6px;
		box-shadow: 0 0 5px $form-input-color;
		//FIXME: Mniejszy box schadow
	}
}

@media only screen and (max-width: 680px) {
	.servers__item {
		font-size: 13px;
		padding: 8px;
	}
}
